.list-container {
  padding: 20px;
}
/* Button */
.stories-btn {
    float:right;
   margin-top: -20px; 
  /* padding: 8px 14px; */
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.list-item {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.list-item h3 {
  margin: 0;
}

.list-item p {
  margin: 4px 0;
  color: #555;
}

.list-item a {
  font-size: 14px;
  color: blue;
  text-decoration: underline;
}

.quote-title {
  color: black;
  margin-bottom: 15px;
}