.quote-wrapper {
  padding: 20px;
}

.quote-title {
  color: white;
  margin-bottom: 20px;
}

.jokes-btn{
   float:right;
  margin-top: -1px;
  /* padding: 8px 14px; */
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* CARD */
.chat-card {
  background: white;
  padding: 5px 5px 15px 5px;
  border-radius: 14px;
  margin-bottom: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

/* TITLE */
.chat-title {
  color: #38bdf8;
  margin-bottom: 10px;
}

/* MESSAGES */
.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* BUBBLE */
.chat-bubble {
  background: white;
  /* padding: 10px 14px; */
  border-radius: 10px;
}

/* ROLE */
.chat-role {
  font-weight: bold;
  color: #22c55e;
  margin-right: 5px;
}

/* TEXT */
.chat-text {
  color: black;
}